body 
{
	background: url(../imgs/bg.jpg) repeat;
	color: white;
	font-family: arial;
}

div
{
	margin:0 auto;
}

input text
{
	border: 1px solid green;
}

td { 
	color:blue;
	font-family:verdana,arial,sans;
	font-size:14pt
}

td.h {
	color:blue;
	font-family:verdana,arial,sans;
	font-size:14pt;
	background:#d0ffff
}

td.sta {
	color:green;
	font-family:verdana,arial,sans;
	font-size:14pt;
}

.pool-block
{
	width:1299;
	margin:0 auto;
}

.pool-block tr
{
	height:40px;
}

.pool-name
{
	width:277; height:32px; background: url(../imgs/input_box.png);	
	border:none;
	color:white;
	padding:1px 5px;
}

.pool-user
{
	width:277; height:32px; background: url(../imgs/input_box.png);	
	border:none;
	color:white;
	padding:1px 5px;
}

.pool-pass
{
	width:277; height:32px; background: url(../imgs/input_box.png);	
	border:none;
	color:white;
	padding:1px 5px;
}

.addr-block
{
	width:1299px;
	margin:0 auto;
}

.addr-block input 
{
	width:160px;
	height:31px;
	background:url(../imgs/input_box_network_setting.png);
	border:none;
	color:white;
	padding:1px 5px;
}

#addr-submit
{
	margin-right:0px;
	width:142px;
}

.status-block
{
	width:1299px;
	height:40px;
	border:0px; border-collapse: collapse;
	margin:0px auto;
}

.status-block tr
{
	border:0px; border-collapse: collapse;
	height:26px;
}

.status-block td
{
	text-align:center;
}

.status-block th
{
	text-align:left;
}
